body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    color: #00796B;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #logo {
    height: 120px;
    margin-right: 120px;
  }
  
  #chat-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  
  #messages {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #message-input {
    width: calc(100% - 50px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #send-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #send-button svg {
    width: 20px;
    height: 20px;
    fill: #05dfc5;
  }
  
  footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #00796B;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  footer a {
    color: #05dfc5;
    text-decoration: none;
    margin-left: 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  
  h1,
  h2,
  p {
    color: #05dfc5;
  }
  
  #messages .message {
    color: #05dfc5;
  }
  
  #messages .message.system {
    color: #FFC107;
  }
  
  #messages .message.user {
    color: #05dfc5;
  }

  